# Ignore data files
data/raw/*
data/preprocessed/*
!data/raw/.gitkeep
!data/preprocessed/.gitkeep

# Ignore Python cache
__pycache__/
*.pyc

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store